*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* BACKGROUND SETTINGS */
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,.75)),url(bghmp.jpg);
  background-size: cover;
  background-position: center;
}

/* MENU SETTINGS */
#menu{
  font-size: 30px;
  cursor: pointer;/*kalau lalu nnti keluar tangan*/
  position: absolute;
  top: 30px;
  left: 30px;
}

/* DATE AND TIME SETTINGS */
#datetime {
  color: #ECE6B1;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  font-size: 30px;
}

/* CONTENT SETTINGS */
.content{
  width: 95%;
  margin: 50px auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color:white;
}

.content h1{
  font-size: 40px;
  margin-top: 80px;
  margin-left: 80px;
}

.content p{
  margin: 30px auto;
  font-weight: 100;
  line-height: 25px;
  margin-left: 90px;
  margin-right: 60px;
}

/* BUTTON SETTINGS (GO TO NOTES PAGE)*/
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(247, 219, 106);
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#learn{
  background: rgb(247, 219, 106);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover #learn{
  width: 100%;
}

button:hover{
  border:none;
}